#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 330px;
  margin: 80px auto;
  padding: 20px;
  background: #2c2c3c;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.display {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: right;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: #4e4e6a;
  color: white;
  border-radius: 7px!important;
}

button:hover {
  background: #6c6c8f;
}
